BASE_URL=https://rpachallenge.com/
MOVIE_SEARCH_PATH=/movieSearch
MOVIE_QUERY=Avengers
INVOICE_URL=https://rpachallengeocr.azurewebsites.net/
INVOICE_TABLE_ID=tableSandbox
INVOICE_TARGET_INDICES=2,4
TIMEOUT_SECONDS=15
HEADLESS=true

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=db_wellbe_movies
MYSQL_USER=root
MYSQL_PASSWORD=root
