BASE_URL=https://rpachallenge.com/
MOVIE_SEARCH_PATH=/movieSearch
MOVIE_QUERY=Avengers
TIMEOUT_SECONDS=15
HEADLESS=true

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=wellbe_movies
MYSQL_USER=root
MYSQL_PASSWORD=root
